.city-field {
  margin-top: 50px;
  width: 100%;
  margin-left: 5px;
  position: relative;
}
ion-button {
  margin-left: 5px;
}

.img {
  width: 100px;
  height: 100px;
}

ion-card-content {
  background-color: rgb(208, 236, 241);
}
